# Homework 3

I have inserted blank code cells for you to work in but feel free to add or delete depending on your needs. **Do not read into the number of code cells as a sign of the number of cells you need to answer the questions.** Feel free to also add markdown cells if you want to make notes for yourself. These may be helpful in the future as you can review this workbook to see the code you learned.

Also note that I have inserted blank Markdown cells for you to insert your answers to my questions. These cells currently say "Type Markdown and LaTeX:  ùõº2". If you click on the cell, you can type in your response.

<font color='red' size = '5'> Exercise 1: Input your Data </font>

a. First, download hw3.csv from Canvas and save to the same folder that holds this Homework 3 notebook

b. Upload the data to this notebook as a DataFrame named ``df``. 

You should have the following variables:

|Variable Name| Description|
|:-----|:------|
|country| Country|
|year| Year the data relates to|
|pop| Population of that country in that year, displayed in millions, billions or thousands|
|pop2| Population of that country in that year as a numeric value|
|gdp_percapita| GDP per person in that country in that year|
|billion_num| number of billionaires based on country of citizenship|
|billion_age| average age of billionaires in that country, 0 if no billionaires|
|billion_rate_perM| number of billionaires per 1 million citizens|
|poor10| percentage share of total income that accrues to bottom 10% of population|
|rich10| percentage share of total income that accrues to top 10% of population|
|pov_320| \% of people below \$3.20/day|
|pov_550| \% of people below \$5.50/day|

In [29]:
import pandas as pd

In [30]:
df = pd.read_csv('hw3.csv')

c. Is all of your data in the correct format? If not, update accordingly. Don't worry about formatting anything as a date, we're not quite there yet. But anything that we do want to perform mathematical calculations on should be a number and anything we do not want to perform calculations on should be a string.

d. Change the float formatting of this notebook to have thousands separators and 2 decimal places.

In [119]:
#c

df['year'] = df['year'].astype(str)
df['billion_num'] = df['billion_num'].astype(str)

df['billion_age'] = df['billion_age'].astype(str)
df['billion_rate_perM'] = df['billion_rate_perM'].astype(str)
df['gdp_percapita'] = df['gdp_percapita'].astype(str)
df['poor10'] = df['poor10'].astype(str)
df['rich10'] = df['rich10'].astype(str)
df['pov_320'] = df['pov_320'].astype(str)
df['pov_550'] = df['pov_550'].astype(str)
df['pop2'] = df['pop2'].astype(str)

In [32]:
#d

pd.options.display.float_format = '{:,.2f}'.format

In [33]:
df.describe()

,billion_age,billion_rate_perM,gdp_percapita,poor10,rich10,pov_320,pov_550,pop2
count,652.00,652.00,648.00,286.00,286.00,286.00,286.00,652.00
mean,16.05,0.11,"10,450.92",2.62,29.73,17.46,30.03,"39,114,499.25"
std,27.79,0.41,"16,909.05",0.95,6.71,24.41,31.56,"141,526,013.96"
min,0.00,0.00,286.00,0.50,20.40,0.00,0.00,"9,830.00"
25%,0.00,0.00,"1,307.50",1.90,24.90,0.50,1.42,"2,765,000.00"
50%,0.00,0.00,"3,500.00",2.60,27.65,4.80,19.75,"8,585,000.00"
75%,39.50,0.01,"9,677.50",3.40,33.10,26.18,51.83,"26,400,000.00"
max,79.00,6.62,"112,000.00",4.80,54.20,98.50,99.70,"1,350,000,000.00"

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 652 entries, 0 to 651
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   country            652 non-null    object
 1   year               652 non-null    object
 2   billion_age        652 non-null    float64
 3   billion_num        652 non-null    object
 4   billion_rate_perM  652 non-null    float64
 5   gdp_percapita      648 non-null    float64
 6   poor10             286 non-null    float64
 7   rich10             286 non-null    float64
 8   pop                652 non-null    object
 9   pov_320            286 non-null    float64
 10  pov_550            286 non-null    float64
 11  pop2               652 non-null    float64
dtypes: float64(8), object(4)
memory usage: 61.2+ KB

<font color='red' size = '5'> Exercise 2: Understand your Data </font>

a. Describe your data (using code, not words).

b. Use what you learn from the summary statistics and your data subsetting skills to answer the following questions. You may answer by simply having code that outputs the answer. No need to add markdown cells. Each question should be answered with **one** line of code.
    
1. People in which country in which year are the poorest of the poor? (accrue the smallest amount of their country's total income)
    
2. Has the plight of these countries' poorest citizens improved over the time period captured by our data sample?
3. What percentage of total income does the richest 10% of the population accrue in the country with the most billionaires? Answer this question twice- once for the country with the absolute most billionaires and once for the country with the most billionaires per million people

In [83]:
#1
#we filter out the minimum amount of gdp_percapita with its respective country.

df['country'][df['gdp_percapita'] == df['gdp_percapita'].min()]

45    Ethiopia
Name: country, dtype: object

In [100]:
#we filter out the minimum amount of gdp_percapita and it's country with its respective year
df['year'][df['gdp_percapita'] == df['gdp_percapita'].min()]

45    2003
Name: year, dtype: object

In [113]:
#2

df.groupby('country')['gdp_percapita'].sum()

country
Albania     11,090.00
Algeria     14,930.00
Angola      13,390.00
Argentina   46,500.00
Armenia     10,210.00
               ...
Vanuatu     10,740.00
Vietnam      5,240.00
Yemen       10,100.00
Zambia       3,782.00
Zimbabwe     4,480.00
Name: gdp_percapita, Length: 163, dtype: float64

In [141]:
#3

df['rich10'][df['billion_num'] == df['billion_num'].max()]

65     29.2
298    21.1
559    29.5
594     nan
Name: rich10, dtype: object

In [142]:
df['rich10'][df['billion_num'] == df['billion_rate_perM'].max()]

Series([], Name: rich10, dtype: object)

<font color='red' size = '5'> Exercise 3: Analyze your Data </font>
    
a. Calculate the total GDP in each country in each year. You do not need to display anything for this step.

b. Calculate the worldwide GDP in each year.

c. Calculate the worldwide population in each year.

d. What is the worldwide gdp per capita in each year? Answer with code output.

e. What is the total number of billionaires in each year of our sample? Answer with code output.

f. What is the average age of billionaires worldwide? Be sure that your calculation does not include countries without billionaires.

g. Challenge Question: What percentage of worldwide billionaires live in the US in each year? Note: because this question is so hard it is not worth very many points but I would still love for you to attempt to answer it. Think about what you need in what format to calculate the answer. And of course, I am looking for code, not hard coding.

In [127]:
#a

df.groupby('country')['gdp_percapita'].sum()

country
Albania          2520.02680.02850.03040.0
Algeria          3590.03750.03760.03830.0
Angola           2900.03220.03460.03810.0
Argentina    10400.011200.012000.012900.0
Armenia          2060.02360.02700.03090.0
                         ...
Vanuatu          2550.02620.02780.02790.0
Vietnam          1190.01270.01350.01430.0
Yemen            2470.02540.02540.02550.0
Zambia              879.0918.0965.01020.0
Zimbabwe         1210.01140.01090.01040.0
Name: gdp_percapita, Length: 163, dtype: object

In [131]:
#b

df.groupby('year')['gdp_percapita'].sum()

year
2003    2900.02520.057900.010400.02060.049400.040700.0...
2004    3220.02680.053800.011200.02360.050300.041300.0...
2005    3460.02850.051200.012000.02700.050900.042500.0...
2006    3810.03040.045400.012900.03090.052500.043900.0...
Name: gdp_percapita, dtype: object

In [134]:
#c

df['worldwide_pop'] = df.groupby('year')['gdp_percapita'].sum() * df['gdp_percapita']
df['worldwide_pop']

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
      ...
647    NaN
648    NaN
649    NaN
650    NaN
651    NaN
Name: worldwide_pop, Length: 652, dtype: object

In [143]:
#d 
df.groupby('year')['gdp_percapita']

In [136]:
#e
df.groupby('year')['billion_num'].sum()

year
2003    0021053001000000006000177310000200000520300008...
2004    0021064001000000008000178320000200000570300011...
2005    0051073002000000001600022828000020000155020002...
2006    0051012300200000000200002383200000200021550200...
Name: billion_num, dtype: object

In [139]:
#f
df['billion_age'].sum()

'0.00.050.069.00.069.669.30.00.078.00.00.00.00.00.00.00.00.070.50.00.00.065.566.075.062.00.00.00.00.075.50.00.00.00.00.066.20.067.00.00.00.00.061.90.00.00.00.067.00.00.059.00.00.00.00.00.057.00.00.00.00.00.00.056.053.663.50.00.00.056.866.50.00.066.30.00.00.00.071.50.060.00.00.00.00.00.00.00.00.00.00.00.063.00.00.00.00.00.00.00.00.00.00.00.072.60.00.00.00.056.065.00.00.00.00.00.074.00.00.075.00.00.00.044.90.00.00.00.00.00.00.00.00.00.066.90.00.00.00.00.064.00.00.00.00.00.00.060.20.00.00.00.00.064.40.00.00.00.00.055.50.00.00.00.051.070.00.069.373.80.00.079.00.00.00.00.00.00.00.00.067.70.00.00.063.967.076.049.00.00.00.00.076.50.00.00.00.00.065.10.068.00.00.00.075.064.80.00.00.00.066.70.00.059.70.00.00.00.00.058.00.00.00.00.00.00.060.556.562.30.00.038.062.067.20.00.065.550.70.00.00.070.70.00.00.00.00.00.00.00.00.00.00.00.00.060.90.00.00.00.00.00.00.00.00.00.00.073.50.00.00.00.058.565.80.00.00.00.00.073.30.051.567.00.00.00.044.40.00.00.00.00.00.00.00.00.00.067.80.00.00.00.00.066.00.00.00.00.00.00.060.90.00.00.044.00.064.80.00.00.00.00.062.30.00.00.00.062.571.00.062.171.30.00.066.50.00.00.00.00.00.00.00.058.00.00.00.062.963.976.047.50.00.00.00.077.50.00.00.00.041.066.20.075.00.00.00.076.065.80.00.00.00.067.50.00.058.40.00.00.00.00.059.00.00.00.00.00.00.061.554.961.50.00.039.063.564.40.00.064.448.50.00.00.069.30.023.50.00.00.00.00.00.00.00.00.00.00.061.90.00.00.00.00.00.00.00.00.00.00.073.80.00.00.00.059.566.80.00.00.00.00.074.30.049.768.00.00.00.045.50.00.00.00.00.00.00.00.00.00.069.00.00.00.00.00.067.00.00.00.00.00.00.062.50.00.00.045.00.065.10.00.00.00.00.063.30.00.00.00.061.372.00.064.172.30.00.067.50.00.00.00.00.00.00.00.059.40.00.00.061.164.970.348.90.00.00.00.078.50.00.00.058.042.066.30.076.00.00.00.059.762.10.00.00.00.069.90.00.059.60.00.00.00.00.060.00.00.00.00.00.00.062.556.362.50.00.053.062.966.00.00.064.843.80.00.00.052.70.038.50.00.00.00.00.00.00.00.00.00.00.062.80.00.00.00.00.00.00.00.00.00.00.072.60.00.00.00.060.564.30.00.00.00.00.075.30.050.469.00.00.067.046.10.00.00.00.00.00.061.00.00.00.070.00.00.00.00.00.068.00.00.00.00.00.00.061.30.00.00.044.20.065.30.00.00.00.00.064.30.00.0'

<font color='red' size = '5'> Question 1 </font>

In the following code, classify each item in the code as a variable, function, method or attribute: 
```python
print(df.columns)
```

df = (country, year, billion_age, billion_num, billion_rate_perM, gdp_percapita, poor10, rich10, pop, pov_320, pov_550, pop2)

## Prep for Next Week's Class

Read the first three pages of EY ARC_360 Performance Evaluations.